{% extends "base.html" %}
{% load i18n %}

{% block content %}
<table>
  {% for item in data %}
    <tr>
        <td>
            {% blocktrans with year=item.year %}
            Number of stations with data for {{ year }} or later
            {% endblocktrans %}
        </td>
        {% for i in item.nstations %}
          <td align='right'>{{ i.value }}</td>
        {% endfor %}
    </tr>
  {% endfor %}
  <tr>
      <td>{% trans "Number of stations in database" %}</td>
      <td align='right'>{{ nstations }}</td>
  </tr>
</table>
{% endblock %}
